/* =================> custom css class start <================= */
/* =================> Auth page <================= */
.auth-body-bg {
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
	padding: 30px 0;
}
.auth-body-bg.main-content-area {
    min-height: 100%;
	Display: flex;
	align-items: center;
}
.auth-body-bg.main-content-area .box-bg {
    /* padding: 30px 0; */
    padding: 0;
    border-radius: 15px;
}
.auth-body-bg.main-content-area .box-bg .box-header {
    padding: 15px 30px;
	border-bottom: 1px solid #ccc
}
.auth-body-bg.main-content-area .box-bg .box-header .panel-title {
    color: #000000;
	font-weight: 700;
}
.auth-body-bg.main-content-area .box-bg .box-content {
    padding: 15px 30px 30px 30px;
}

/* =================> Select 2 <================= */
.select2-container--default .select2-selection--single {
	border-radius: 0px !important;
	height: 45px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}

/* =================> Common <================= */
.text-white{
	color: #ffffff;
}
.d-flex{
    display: flex !important;
}
.text_danger{
    color: #da0a17 !important;
}
.justify-space-between{
    justify-content: space-between !important;
}
.mtb_0{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.mb_10{
    margin-bottom: 10px !important;
}
.mb_17{
    margin-bottom: 17px !important;
}
.mt_0{
    margin-top: 0px !important;
}
.mt_8{
    margin-top: 8px !important;
}
.mt_10{
    margin-top: 10px !important;
}
.mt_13{
    margin-top: 13px !important;
}
.mt_15{
    margin-top: 15px !important;
}
.mt_20{
    margin-top: 20px !important;
}
.mt_30{
    margin-top: 30px !important;
}
.mt_50{
    margin-top: 50px !important;
}
.mt_5{
    margin-top: 5px !important;
}
.pt_30{
    padding-top: 30px !important;
}
.pb_0{
    padding-bottom: 0 !important;
}
.plr_0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.radius_50{
    border-radius: 50% !important;
}
.radius_5{
    border-radius: 5% !important;
}
.display_flex{
    display: flex;
}
.custom_price{
    color: #da0a17;
    font-size: 20px;
}
.justify_content_around{
    justify-content: space-around;
}
.text-align-right{
    text-align: right;
}
.align-item-center{
    align-items: center;
}
.background-warning {
  background-color: #ECA118;
}
.background-info {
  background-color: #3498db;
}
.background-success {
  background-color: #1abc9c;
}
.background-danger {
  background-color: #E52D27;
}
/* =================> Dashboard css class end <=================== */
.dashboard-card {
	   border-radius: 5px;
    padding: 15px;
    color: #ffffff;
    font-weight: 700;
}
/* =================> custom css class end <=================== */
.picker_close{
    display: none;
}
.btn-theme, .btn-secondary-theme {
    border-radius: 0px !important;
}
/* ===========================> cart page style start <===================================== */
.cart_list_price{
    display: flex;
    margin-top: 14px;
    gap: 23px;
    padding: 0;
}
.cart_price_input_group {
    display: flex;
    align-items: center;
    width: 100%; 
}
.decrement,
.increment {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #ababab;
    border-radius: 4px;
    border: 1px solid lightgrey;
    padding: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.decrement:hover,
.increment:hover {
    background-color: #da0a17;
    color: #fff;
}

.cart_input {
    /* flex: 1; */
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px;
    margin: 0 5px;
    background-color: #fff;
    width: 69px;
}
.cart_input:focus {
    outline: none;
}
.blog-sidebar ul.profile_user_li li a{
    display: flex !important;
    gap: 9px !important;
}
/* ===========================> cart page style end <===================================== */
.profile_sidebar_img{
    border-radius: 100%;
    width: 100px !important;
    height: 100px !important;
}
.profile_img_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-bottom: 9px;
    align-items: center;
}
.profile_user_li > li > a {
    display: flex;
    align-items: center;
    gap: 17px;
}
.ellipsis_title{
    width: 285px; /* Set a fixed width for the container */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide any overflowing content */
    text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
}
.cross_abs{
    position: absolute;
    top: -15px;
    right: -7px;
}
.custom_gallery_icon{
    font-size: 20px;
    background: #fff;
    color: #da0a17;
    height: 20px;
    border-radius: 100%;
    width: 20px;
}
.bg_transparent{
    background-color: transparent !important;
    border: 0px !important;
}
.user_sidebar_name a{
    font-weight: 700;
    color: #000 !important;
    text-transform: capitalize;
}
.edit_profile_img{
    height: 100px !important;
    width: 100px !important;
}
.img_cross_btn{
    position: absolute;
    background-color: #da0a17 !important;
    border: none !important;
    color: #fff;
    top: 0px;
    left: 85px;
    border-radius: 50%;
    height: 30px;
    width: 30px;

}
.img_cross_btn:active{
    background-color: transparent !important;
    border: none !important;
}
/* ------------divider-------------- */

.astrodivider {
    margin: 0px auto;
    width: 100%;
    max-width: 100%;
    position: relative;
  }
  
  .astrodividermask { 
      overflow:hidden; height:20px; 
  }
  
  .astrodividermask:after { 
        content:''; 
        display:block; margin:-25px auto 0;
        width:100%; height:25px;  
          border-radius:125px / 12px;
          box-shadow: 0 0 8px #da0a17;
  }
  .astrodivider span {
      width:50px; height:50px; 
      position:absolute; 
      bottom:100%; margin-bottom:-25px;
      left:50%; margin-left:-25px;
      border-radius:100%;
     box-shadow:0 2px 4px #da0a17;
      background:#fff;
  }
  .astrodivider i {
      position:absolute;
      top:4px; bottom:4px;
      left:4px; right:4px;
      border-radius:100%;
      border:1px dashed #da0a17;
      text-align:center;
      line-height:40px;
      font-style:normal;
       color:#da0a17;
  }
  .grid-style-2 .ad-info-1 p i {
        color: #a0a0a0;
        font-size: 15px !important;
    }
    .grid-style-2 .ad-info-1 p {
        font-size: 15px !important;
    }
    .category-grid-box-1 .short-description-1 {
        padding: 15px 15px 0px 15px !important;
    }
    .grid-style-2 .ad-info-1 p {
        padding-left: 5px !important;
    }
    .grid-style-2 .ad-info-1 ul li a {
        width: 34px !important;
    }
    .category-grid-box-1 .short-description-1 ul {
        margin-top: 0px !important;
    }
/* ------------divider end-------------- */
.boxicon i {
    font-size: 25px !important;
}
.cus_tel{
    color: #232323;
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}
.cus_tel:hover{
    cursor: pointer !important;
}
.image-container, .content-container {
    display: flex;
    flex-direction: column;
}

.image-container img {
    width: 100%;
    height: auto;
}

.content-container {
    padding: 0 15px; /* Adjust as needed */
}

.image-container, .content-container {
    height: 100%; /* Make both containers the same height */
}
/* #bar-fixed.stickIt {
    position: fixed;
    top: 0px;
    z-index: 100;
} */
.post_ads_2_m{
    margin: 12px 0px;
}
.ad_preview_h3{
    color: #fff;
    font-size: 18px;
    padding-left: 8px;
    background-color: #da0a17;
    font-weight: 600;
}
.preview_table{
    margin-bottom: 0px !important;
}
.preview_table tbody tr td:first-child{
    width: 30%;
}
.category-list-icon i.red {
	background-color:#da0a17;	
}
.category-list-icon i.purple-deep {
	background: #A24A9E
}

/* ********************** For Latur *************************** */
.list-title {
	-webkit-line-clamp: 1 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.list-desc {
	-webkit-line-clamp: 4 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
/* ********************** Responsive css start *************************** */
@media screen and (max-width:991px){
    .blog-sidebar{
        margin-bottom: 25px !important;
    }
}
@media screen and (max-width:367px){
    .cart_list_price{
        flex-direction: column;
        gap: 0;
        justify-content: center;
        align-items: baseline;
        text-align: center;
    }
}
@media screen and (max-width:767px){
    .img_cross_btn{
        position: absolute;
        background-color: #da0a17 !important;
        border: none !important;
        color: #fff;
        top: 0px;
        left: 82px;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    
    }
}
@media screen and (min-width:1200px){
    .category-grid-box-1 a {
        color: #232323;
        font-weight: 500;
        font-size: 15px;
    }
}
@media screen and (max-width:991px){
    #bar-fixed{
        margin-top: 40px;
    }
}
@media screen and (min-width:992px){
    #bar-fixed{
        position: -webkit-sticky !important;
        position: sticky !important;
        top: 10px !important;
    }
}
@media (min-width: 768px) {
    .d-md-flex {
        display: flex !important;
    }
}
/* ********************** Responsive css end *************************** */

.custom-upload-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 20px;
  border: 1px solid #ccc;
  /*border-radius: 50px;*/
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  min-width: 150px;
}

.upload-icon {
  color: #555;
  font-size: 18px;
  margin-left: 10px;
}

#preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.preview-image-wrapper {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  /* border: 1px solid #ccc; */
  /* border-radius: 10px; */
  /* overflow: hidden; */
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.remove-image {
	position: absolute;
    top: -10px;
	right: -10px;
    background: #E7E7E7;
    color: black;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
}
.remove-existing-image {
	position: absolute;
    top: -10px;
	right: -10px;
    background: #E7E7E7;
    color: black;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    cursor: pointer;
}
.success-msg {
    color: green;
    font-weight: bold;
	font-size:20px;
}
.load-more-grievance {
	cursor:pointer;
	padding: 10px 24px;
	border-radius: 8px;
	border: none;
	background: #0b2b57;
	color: white;
	font-size: 14px;
	width: fit-content;
	margin: 20px auto;
	display:none;
}
.change-password-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* adjusts for navbar height if any */
}
.submit-section{
	padding : 6px 0px 0px 0px;
}
.resubmit-button {
	cursor:pointer;
	padding: 10px 24px;
	border-radius: 8px;
	border: none;
	background: #0b2b57;
	color: white;
	font-size: 14px;
	width: fit-content;
	margin: 20px auto;
}

.position-absolute {
	position: absolute;
}

.rating-stars {
    direction: rtl; /* Makes highest star appear on the left */
    display: inline-flex;
    justify-content: center;
    gap: 5px;
}

.rating-stars input {
    display: none;
}

.rating-stars label {
    font-size: 30px;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
}

.rating-stars label:hover,
.rating-stars label:hover ~ label {
    color: #f7d106;
}

.rating-stars input:checked ~ label {
    color: #f7d106;
}
.blog-sidebar .widget ul li a.logout {
	color: #a94442
}
.custom-small-box {
	list-style: none;
	padding: 0;
	display: inline-block;
}	
.custom-small-box li {
	box-shadow: none;
	display: inline-block;
	margin-right: 5px;
}
.custom-small-box li a {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 6px 8px;
	border-radius: 50%;
}
.custom-small-box li > a:hover {
	background: transparent;
	border: 1px solid #0E5185;
}